* {
    box-sizing: border-box;
    margin: 0;
}

#container {
    position: relative;
    width: 300px;
    height: 250px;
    background-color: antiquewhite;
    overflow: hidden;
}

.bg1 {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
}
.bg2 {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 250px;
    left: 0;
}

.envelopTop {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.cap {
    position: absolute;
    top: 47px;
    left: -15px;
    z-index: 3;
}

.transformActive {
    transform: rotatex(180deg);
    transform-origin: 0px 17px;;
    transition: transform 1s;
}

.slide2 {
    height: 150px;
    width: 200px;
    z-index: 1;
    position: absolute;
    top: 75px;
    left: 55px;
}

.translateUpper {
    transform: translateY(-50px);
    transition: transform 500ms;
}
.translateUpperBg2 {
    top: 0px;
    transition: all 800ms;
}

.slide2Main {
    height: 250px !important;
    width: 300px !important;
    top: 0px !important;
    left: 0px !important;
    transform: translateY(0px);
    transition: all 1s;
}

.envelopTopHidden {
    top: 250px !important;
    transition: all 1s;
}

.hidden {
    display: none;
}

.opacityZero{
    opacity: 0;
    transition: opacity 500ms;
}
